<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeakForm - Excersice</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dashboard-body">

    <div class="dashboard-layout">
        
<nav class="sidebar">
    <h2>PeakForm Excersice</h2>
    <ul>
        <li><a href="/">Hem</a></li>
        
     
            <li><a href="#">Min profil</a></li>
            <li><a href="#" class="aktiv">Mina Program</a></li>
            <li><a href="#" class="aktiv">Skapa program</a></li>
             <li><a href="#">Övningsdatabas</a></li>
             <li><a href="#" class="aktiv">PUSH program</a></li>
             <li><a href="#" class="aktiv">PULL program</a></li>
             <li><a href="#" class="aktiv">LEGS program</a></li>
            <li><a href="#">Logga Pass</a></li>
      
    </ul>
</nav>

        <main class="main-content">
            <div class="user-actions">
                
                    <a href="/inlogg" class="liten-knapp">Logga in</a>
                    <a href="/regkonto" class="liten-knapp gron">Skapa konto</a>
              
                    <span>Inloggad som medlem</span>
                    <a href="/logga_ut" class="liten-knapp">Logga ut</a>
               
            </div>

            <h1> PeakForm Övningsdatabas </h1>

            <h2 class="gron-text">ÖVNINGAR PUSH</h2>
            
            <div class="stats-row">
                
                <div class="program-card">
                    <img src="https://media.istockphoto.com/id/2236286457/sv/foto/young-asian-man-doing-bench-press-training-in-a-sports-gym.jpg?s=612x612&w=0&k=20&c=UPyLk8Zkq4HsVq8sOwdzo119AW6wkTnTBfiPaej1Y0I=" alt="BÄNKPRESS">
                    <p>BÄNKPRESS</p>
                </div>
                <div class="program-card">
                    <img src="https://plus.unsplash.com/premium_photo-1663036253291-f4d9a6008566?q=80&w=2049&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="MILITÄRPRESS">
                    <p>MILITÄRPRESS</p>
                </div>
                <div class="program-card">
                    <img src="https://media.istockphoto.com/id/2209855705/sv/foto/determined-sportsman-lifting-dumbbells-while-lying-on-bench-in-gym.jpg?s=612x612&w=0&k=20&c=1oQggGTGpdEezvzNzJpkJVOjNnx_Amj7hkxH05OaKB8=" alt="LUTANDE HANTELPRESS">
                    <p>LUTANDE HANTELPRESS</p>
                </div>
                 <div class="program-card">
                    <img src="https://plus.unsplash.com/premium_photo-1663134000837-f3fcc7ec59d1?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8U2lkb2x5ZnQlMjBtZWQlMjBoYW50bGFyfGVufDB8fDB8fHww" alt="SIDOLYFT MED HANTLAR">
                    <p>SIDOLYFT MED HANTLAR</p>
                </div>
                <div class="program-card">
                    <img src="https://plus.unsplash.com/premium_photo-1679635697473-a9f7464e3e26?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGRpcHMlMjB3b3Jrb3V0fGVufDB8fDB8fHww" alt="DIPS">
                    <p>DIPS</p>
                </div>
                 <div class="program-card">
                    <img src="https://images.unsplash.com/photo-1639496906431-f732f9478600?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fFRyaWNlcHMlMjBwdXNoZG93bnN8ZW58MHx8MHx8fDA%3D" alt="TRICEPS PUSHDOWNS">
                    <p>TRICEPS PUSHDOWNS</p>
                </div>
            </div>
            <h2 class="gron-text">ÖVNINGAR PULL</h2>
            
            <div class="stats-row">
                
                <div class="program-card">
                    <img src="https://plus.unsplash.com/premium_photo-1661963174428-93d9a3024aa4?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGVhZGxpZnR8ZW58MHx8MHx8fDA%3D" alt="BÄNKPRESS">
                    <p>MARKLYFT</p>
                </div>
                <div class="program-card">
                    <img src="https://plus.unsplash.com/premium_photo-1663045978986-2e3d633f1c24?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxhdHMlMjBwdWxsd29ya29wdXR8ZW58MHx8MHx8fDA%3D" alt="MILITÄRPRESS">
                    <p>CHINS/LATSDRAG</p>
                </div>
                <div class="program-card">
                    <img src="https://images.unsplash.com/photo-1584863231364-2edc166de576?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTg4fHx3b3Jrb3V0fGVufDB8fDB8fHww" alt="LUTANDE HANTELPRESS">
                    <p>SKIVSTÅNGSRODD</p>
                </div>
            </div>

           <h2 class="gron-text">ÖVNINGAR LEGS</h2>
            
            <div class="stats-row"> 
                
                <div class="program-card">
                    <img src="https://images.unsplash.com/photo-1657289221661-0fec97a0ee62?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fEJBQ0slMjBTUVVBVHxlbnwwfHwwfHx8MA%3D%3D" alt="KNÄBÖJ">
                    <p>KNÄBÖJ</p>
                </div>

                <div class="program-card">
                    <img src="https://images.unsplash.com/photo-1639660299469-9e9279364c97?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA2fHxMRUclMjBXT1JLT1VUfGVufDB8fDB8fHww" alt="RUMÄNSKA MARKLYFT">
                    <p>RUMÄNSKA MARKLYFT</p>
                </div>

                <div class="program-card">
                    <img src="https://images.unsplash.com/photo-1609899517237-77d357b047cf?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fFNRVUFUfGVufDB8fDB8fHww" alt="BULGARIAN SPLIT SQUAT">
                    <p>BULGARIAN SPLIT SQUAT</p>
                </div>

            </div>
        </main>

        <aside class="right-panel">
            <div class="info-box" style="text-align: center; margin-top: 80px;">
                <h3 style="color: #aaa;">Inget pass aktivt</h3>
                <p style="color: #888; font-size: 0.9rem; line-height: 1.5;">Välj ett träningsprogram till vänster för att komma igång med din träning, eller klicka på 'Logga Pass' för att köra fritt.</p>
            </div>
        </aside>

    </div>

</body>
</html>