<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeakForm - Skapa konto</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="split-layout">
        <section class="left-section">
            <p>PeakForm</p>
            <h1>Skapa konto</h1>

            <div class="form-box">
                <!--Visar felmeddelanden, tex om e-posten redan finns-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="error-message-box">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}

                <form action="/process_register" method="POST">
                    <div class="form-group">
                        <label for="name">Namn: *</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email: *</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Lösenord: *</label>
                        <input type="password" id="password" name="password" minlength="8" required>
                    </div>
                    
                    <h3>Fysisk data (Valfritt)</h3>
                    <div class="form-group">
                        <label for="weight">Vikt (kg):</label>
                        <input type="number" id="weight" name="weight">
                    </div>
                    <div class="form-group">
                        <label for="height">Längd (cm):</label>
                        <input type="number" id="height" name="height">
                    </div>
                    <div class="form-group">
                        <label for="age">Ålder:</label>
                        <input type="number" id="age" name="age">
                    </div>

                    <button type="submit" class="form-button">Skapa konto</button>
                </form>
            </div>
        </section>

        <section class="right-section">
            <img src="https://images.unsplash.com/photo-1592588253414-887759037c2a?q=80&w=2070&auto=format&fit=crop" alt="Gymmiljö">
        </section>
    </div>

</body>
</html>